body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,article,aside,figure,footer,header,nav,section,details,summary{margin:0;padding:0;font-family: "Microsoft Yahei";}
article,aside,figure,footer,header,nav,section,details,summary{display:block}
html,body{overflow-x:hidden;}
body,button,input,select,textarea{font:12px/1.5 tahoma,arial,\5b8b\4f53}
button,input,select,textarea{font-size:100%}
h1,h2,h3,h4,h5,h6{font-size:100%}
fieldset,img{border:0}
img{ vertical-align:top;}
a{text-decoration:none; color:#d00412;}
a:hover { color: #3072f6 }
ul,ol{list-style:none outside none}
table{border-collapse:collapse;border-spacing:0}
legend{color:#000}
small{font-size:12px}
address,cite,dfn,em,var{font-style:normal}
q:before,q:after{content:""}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*zoom:1}